<!DOCTYPE html>
<html>
    <head>
        <header></header>
            <img src = '/public/css/images/expense tracker logo.jpg' class="imgcenter" alt="LOGO" width="200px" height="200px">
        
            <h3>USER DASHBOARD</h3>
            <br>
        </header>
        <link rel="stylesheet" href = "/public/css/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>
    
        </title>
    </head>
    <body>
        <nav>
            
            
            
             
            <a href ="index.html">HOME</a> 
        
    </nav> 
        <a href="add_expenses.html"><button>ADD EXPENSE</button></a>
        <br>
        <a href="edit_expense.html"><button> EDIT EXPENSES</button></a>
        <br>
        <a href="view_expenses.html"><button>VIEW EXPENSES</button></a>
    </body>
    <footer>
        Copyright(C):2024
        <br>
        Developed By Prince Magasa
        <br>
        Connect with the developer

    </footer>

</html>