<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
            
        <link rel="stylesheet" href = "/public/css/style.css">
        <title>
            EDIT  EXPENSES
        </title>
        <header>
            <img src = '/public/css/images/expense tracker logo.jpg'class="imgcenter" alt="LOGO" width="200px" height="200px">
        
            <h3>Edit Expense</h3>
        </header>
        <nav>
            <ul>
            
                
                <li><a href ="index.html">HOME</a> </li>
            </ul>
        </nav> 
            
    </head>
    <body>
        <form>
            <label for "Expense_Id"> Expense ID</label>
            <input type = "text" id = "exepenseid" name ="expenseid"
            <br>
            <label for "Expense_Name">Expense Name</label>
            <input type ="text" id ="expensename" name="expensename">  
            
            <br>  
            <label for "Amount"> Amount</label>
            <input type ="number" id ="amount" name="amount"> 
            <br>
            <label for "New_Expense_name">New Expense Name</label>
            <input type ="text" id ="newexpensename" name="newexpensename">
            <br>  
            <label for "New_Amount">New Amount</label>
            <input type ="number" id ="newamount" name="newamount"> 

        </form>
        <br>
        <button>edit expenses</button>
    </body>
</html>